@charset "UTF-8";
@import "../../../stylesheets/font-awesome/css/font-awesome.min.css";
body{
    font-size: 14px;
}
section{
    margin-bottom: 5%;
}
canvas{
    display: block;
    margin: auto;
}
.padding,.box{
    padding: 10px;
}
.box{
    border: 1px solid #ccc;
}
.list:after{
    overflow: hidden;
    content: "";
    display: block;
    clear: both;
    height: 0px;
    width: 0px;
}
.list{
    display: block;
    clear: both;
}
.list .item{
    float: left;
}
.list.vertical-list .item{
    float: none;
}
.gravity-wrap{
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background: url('../../../images/tray-bg.jpg') center no-repeat;
}
.filter-wrap{
    width: 400px;
    margin: 0 auto;
}
.filter-ctrl ul:after{
    display: block;
    clear: both;
    content: " ";
    overflow: hidden;
}
.filter-ctrl ul{
    clear: both;
}
.filter-item{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}
.filter-item a{
    color: inherit;
    text-decoration: inherit;
}
.filter-item.file{
    width: 100%;
    margin-top: 5px;
}
#filter-file-url{
    width: 250px;
}
.clip-wrap{
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.clip-area{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    left: 0px;
    border: 1px solid #ccc;
}
.clip-helper{
    width: 100%;
    height: 100%;
    border: 1px dashed #cccccc;
    box-sizing: border-box;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    cursor: move;
}
.clip-helper .block{
    width: 6px;
    height: 6px;
    background: #333;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.clip-helper .block.north{
    top: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: n-resize;
}
.clip-helper .block.south{
    top: 100%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    cursor: n-resize;
}
.clip-helper .block.east{
    top: 50%;
    left: 100%;
    margin-top: -3px;
    margin-left: -3px;
    cursor: e-resize;
}
.clip-helper .block.west{
    top: 50%;
    left: -3px;
    margin-top: -3px;
    cursor: e-resize;
}
.clip-helper .block.north-east{
    top: -3px;
    left: 100%;
    margin-left: -3px;
    cursor: ne-resize;
}
.clip-helper .block.north-west{
    top: -3px;
    left: -3px;
    cursor: nw-resize;
}
.clip-helper .block.south-west{
    top: 100%;
    left: 0;
    margin-left: -3px;
    margin-top: -3px;
    cursor: sw-resize;
}
.clip-helper .block.south-east{
    top: 100%;
    left: 100%;
    margin-left: -3px;
    margin-top: -3px;
    cursor: se-resize;
}
.ctrl-btns{
    text-align: center;
    margin-top: 10px;
}
#circle-panel,
#filter-canvas{
    border: 1px solid #ccc;
}

#video-canvas{
    border: 1px solid #ccc;
}