/* reset css */
html, body, div, span, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,header,nav,footer,section,article,aside,
input,textarea,button,select{
    margin: 0;
    padding: 0;
    font-family: inherit;
}
/*html5*/
header,nav,footer,section,article,aside{
    display: block;
    position: relative;
}
ul,ol,li{
    list-style: none;
}
.response-body{
    margin: auto;
}
.response-body.mobile{
    max-width: 640px;
}
.response-body.pc{
    max-width: 1024px;
}
.response-body.tab{
    max-width: 720px;
}
input,select,textarea,button{
    outline: none;
}
button{
    background: #fff;
    border: 0px none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-size: 12px;
    font-family: "Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu,Helvetica,Arial,Geneva,sans-serif;
}
.fav-bg{
    background-color: rgba(53,115,137,0.89);
    background-image: radial-gradient(10% 0, farthest-side ellipse, rgba(119,157,207,0.8) 30%, rgba(174,180,186,0.8) 76%, rgba(199,175,156,0.8));
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(119,157,207,0.8) 30%, rgba(174,180,186,0.8) 76%, rgba(199,175,156,0.8));
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(119,157,207,0.8) 30%, rgba(174,180,186,0.8) 76%, rgba(199,175,156,0.8));
}
.hide{
    display: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 1em;
    margin-bottom: 15px;
    font-weight: 800;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size: 1.5em;
}
h5{
    font-size: 1.333em;
}
h6{
    font-size: 1.13em;
    text-transform: uppercase;
}
.clear-fix{
    clear: both;
}
.clear-fix:after{
    clear: both;
    overflow: hidden;
    content: "";
    display: block;
    width: 0;
    height: 0;
}
.btn{
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    padding: 5px 15px;
    text-align: center;
}
.btn:hover{
    background: #eee;
}
.box{
    padding: 10px;
    border: 1px solid #ccc;
}
.flex-box{
    display: flex-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}
.flex-row{
    flex-direction: row;
}
.flex-avg.flex-row>div{
    flex: 1 1 0;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.padding{
    padding: 10px;
}
.half-padding{
    padding: 5px;
}
.margin{
    margin: 10px;
}
.margin-bottom{
    margin-bottom: 10px;
}
.margin-right{
    margin-right: 10px;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}

/* footer */
footer,
.footer{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}